<div class= "container">
    <div class="container outside">
        <div class="container middle">
            <div class="container inside">
                    <h2>Tetrominos <br> coming soon</h2>
                
                    <div class="row justify-content-center">
                        <div class="col-xs-1 TTTcolumn" #a1 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a2 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a3 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a4 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a5 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a6 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a7 style="pointer-events:none">
                        </div>
                        <div class="col-xs-1 TTTcolumn" #a8 style="pointer-events:none">
                        </div>
                    
                    </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #b1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #b8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #c1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #c8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #d1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #d8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #e1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #e8 style="pointer-events:none">
                </div>
                

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #f1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #f8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #g1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #g8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #h1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #h8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #i1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #i8 style="pointer-events:none">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #j1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #j8 style="pointer-events:none">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #k1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #k8 style="pointer-events:none">
                </div>
            
            </div>

            <div class="row justify-content-center">
                <div class="col-xs-1 TTTcolumn" #l1 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l2 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l3 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l4 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l5 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l6 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l7 style="pointer-events:none">
                </div>
                <div class="col-xs-1 TTTcolumn" #l8 style="pointer-events:none">
                </div>
            </div>
    </div>
    </div>
    
    <div class="diszcsik"></div>
    </div>
    </div>