.cell {
    width:20px;
    height:20px;
    padding:0;
    border:1px solid #a59f9f;
    background-color: aquamarine;
}

.grid {
    width:430px;
    display:flex;
    flex-wrap: wrap;
}

.food {
    background-color:orangered;
}
.snakeRest {
    background-color:rgb(224, 206, 200);
}
.snakeHead {
    background-color:rgb(102, 102, 102);
}


