<div class="container-fluid">  
<h1 style="text-align:center"> Welcome to my basic practice site where I upload my minigames!</h1>
<div class="row headbar justify-content-center">
  <div class="col-xs-3 col-md-2 minipic" routerLink='/tictactoe'  routerLinkActive="active">Tic Tac Toe
  </div>
  <div class="col-xs-3 col-md-2 minipic" routerLink='/amoba' routerLinkActive="active">Gomoku
  </div>
  <div class="col-xs-3 col-md-2 minipic" routerLink='/memory' routerLinkActive="active">Memory
  </div>
  <div class="col-xs-3 col-md-2 minipic" routerLink='/snake2' routerLinkActive="active">Snake
  </div>
  <div class="col-xs-3 col-md-2 minipic" routerLink="/tetromino" routerLinkActive="active">Tetrominos
  </div>

 
</div>
<div class="container gamearea">
  <router-outlet></router-outlet>
</div>
</div>