.minipic {
    width: 100px;
    height: 100px;
    border: 3 px solid grey;
    border-radius: 10px;
    background-color: grey;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color:white;
}

.active {
        background-color: rgb(247, 199, 41);
      }

.minipic:hover {
    cursor: pointer;
    background-color: rgb(66, 66, 66);
}

.gamearea {
    text-align: center;
}

.headbar {
    background-color:rgb(188, 155, 204)
}

