<div class="container outside">
    <div class="container middle">
        <div class="container inside">
            <h2>TicTacToe</h2>
            <h3>The current player is: Player {{currentPlayer}}</h3>
            <p>Player A: {{pointofA}} points,<br> Player B: {{pointofB}} points</p>
            <div class="row justify-content-center">
                <div class="col-xs-3 TTTcolumn" #11 (click)="onClickColumn(11)">
                </div>
                <div class="col-xs-3 TTTcolumn" #12 (click)="onClickColumn(12)">
                </div>
                <div class="col-xs-3 TTTcolumn" #13 (click)="onClickColumn(13)">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-3 TTTcolumn" #21 (click)="onClickColumn(21)">
                </div>
                <div class="col-xs-3 TTTcolumn" #22 (click)="onClickColumn(22)">
                </div>
                <div class="col-xs-3 TTTcolumn" #23 (click)="onClickColumn(23)">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-3 TTTcolumn" #31 (click)="onClickColumn(31)">
                </div>
                <div class="col-xs-3 TTTcolumn" #32 (click)="onClickColumn(32)">
                </div>
                <div class="col-xs-3 TTTcolumn" #33 (click)="onClickColumn(33)">
                </div>
            </div>
        </div>
    </div>
    
    <div class="diszcsik"></div>
    </div>