
<div class="container-fluid">
    <div class="container outside">
        <div class="container middle">
            <div class="container inside">
                <div class="row">
                    <h1>Memory</h1>
                </div>
                
                <div class="row justify-content-center">
                    <div class="card unfolded col-xs-3" #0 (click)="onClickCard(0)"></div>
                    <div class="card unfolded col-xs-3" #1 (click)="onClickCard(1)"></div>
                    <div class="card unfolded col-xs-3" #2 (click)="onClickCard(2)"></div>
                    <div class="card unfolded col-xs-3" #3 (click)="onClickCard(3)"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="card unfolded col-xs-3" #4 (click)="onClickCard(4)"></div>
                    <div class="card unfolded col-xs-3" #5 (click)="onClickCard(5)"></div>
                    <div class="card unfolded col-xs-3" #6 (click)="onClickCard(6)"></div>
                    <div class="card unfolded col-xs-3" #7 (click)="onClickCard(7)"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="card unfolded col-xs-3" #8 (click)="onClickCard(8)"></div>
                    <div class="card unfolded col-xs-3" #9 (click)="onClickCard(9)"></div>
                    <div class="card unfolded col-xs-3" #10 (click)="onClickCard(10)"></div>
                    <div class="card unfolded col-xs-3" #11 (click)="onClickCard(11)"></div>
                </div>
            </div>
        </div>
        <div class="diszcsik"></div>
    </div>
</div>
