<div class="container outside">
    <div class="container middle">
     <div class="container inside">
        <h2>Amőba</h2>
        <h3>The current player is {{currentPlayer}}</h3>
        <p>Player a: {{pointofA}} points, Player b: {{pointofB}} points,</p>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a0 (click)="onClickColumn(0)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b0 (click)="onClickColumn(10)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c0 (click)="onClickColumn(20)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d0 (click)="onClickColumn(30)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e0 (click)="onClickColumn(40)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f0 (click)="onClickColumn(50)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g0 (click)="onClickColumn(60)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h0 (click)="onClickColumn(70)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i0 (click)="onClickColumn(80)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j0 (click)="onClickColumn(90)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a1 (click)="onClickColumn(1)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b1 (click)="onClickColumn(11)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c1 (click)="onClickColumn(21)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d1 (click)="onClickColumn(31)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e1 (click)="onClickColumn(41)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f1 (click)="onClickColumn(51)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g1 (click)="onClickColumn(61)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h1 (click)="onClickColumn(71)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i1 (click)="onClickColumn(81)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j1 (click)="onClickColumn(91)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a2 (click)="onClickColumn(2)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b2 (click)="onClickColumn(12)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c2 (click)="onClickColumn(22)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d2 (click)="onClickColumn(32)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e2 (click)="onClickColumn(42)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f2 (click)="onClickColumn(52)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g2 (click)="onClickColumn(62)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h2 (click)="onClickColumn(72)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i2 (click)="onClickColumn(82)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j2 (click)="onClickColumn(92)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a3 (click)="onClickColumn(3)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b3 (click)="onClickColumn(13)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c3 (click)="onClickColumn(23)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d3 (click)="onClickColumn(33)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e3 (click)="onClickColumn(43)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f3 (click)="onClickColumn(53)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g3 (click)="onClickColumn(63)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h3 (click)="onClickColumn(73)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i3 (click)="onClickColumn(83)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j3 (click)="onClickColumn(93)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a4 (click)="onClickColumn(4)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b4 (click)="onClickColumn(14)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c4 (click)="onClickColumn(24)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d4 (click)="onClickColumn(34)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e4 (click)="onClickColumn(44)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f4 (click)="onClickColumn(54)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g4 (click)="onClickColumn(64)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h4 (click)="onClickColumn(74)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i4 (click)="onClickColumn(84)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j4 (click)="onClickColumn(94)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a5 (click)="onClickColumn(5)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b5 (click)="onClickColumn(15)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c5 (click)="onClickColumn(25)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d5 (click)="onClickColumn(35)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e5 (click)="onClickColumn(45)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f5 (click)="onClickColumn(55)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g5 (click)="onClickColumn(65)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h5 (click)="onClickColumn(75)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i5 (click)="onClickColumn(85)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j5 (click)="onClickColumn(95)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a6 (click)="onClickColumn(6)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b6 (click)="onClickColumn(16)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c6 (click)="onClickColumn(26)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d6 (click)="onClickColumn(36)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e6 (click)="onClickColumn(46)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f6 (click)="onClickColumn(56)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g6 (click)="onClickColumn(66)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h6 (click)="onClickColumn(76)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i6 (click)="onClickColumn(86)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j6 (click)="onClickColumn(96)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a17 (click)="onClickColumn(7)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b7 (click)="onClickColumn(17)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c7 (click)="onClickColumn(27)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d7 (click)="onClickColumn(37)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e7 (click)="onClickColumn(47)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f7 (click)="onClickColumn(57)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g7 (click)="onClickColumn(67)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h7 (click)="onClickColumn(77)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i7 (click)="onClickColumn(87)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j7 (click)="onClickColumn(97)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a8 (click)="onClickColumn(8)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b8 (click)="onClickColumn(18)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c8 (click)="onClickColumn(28)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d8 (click)="onClickColumn(38)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e8 (click)="onClickColumn(48)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f8 (click)="onClickColumn(58)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g8 (click)="onClickColumn(68)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h8 (click)="onClickColumn(78)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i8 (click)="onClickColumn(88)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j8 (click)="onClickColumn(98)">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-1 TTTcolumn" #a9 (click)="onClickColumn(9)">
            </div>
            <div class="col-xs-1 TTTcolumn" #b9 (click)="onClickColumn(19)">
            </div>
            <div class="col-xs-1 TTTcolumn" #c9 (click)="onClickColumn(29)">
            </div>
            <div class="col-xs-1 TTTcolumn" #d9 (click)="onClickColumn(39)">
            </div>
            <div class="col-xs-1 TTTcolumn" #e9 (click)="onClickColumn(49)">
            </div>
            <div class="col-xs-1 TTTcolumn" #f9 (click)="onClickColumn(59)">
            </div>
            <div class="col-xs-1 TTTcolumn" #g9 (click)="onClickColumn(69)">
            </div>
            <div class="col-xs-1 TTTcolumn" #h9 (click)="onClickColumn(79)">
            </div>
            <div class="col-xs-1 TTTcolumn" #i9 (click)="onClickColumn(89)">
            </div>
            <div class="col-xs-1 TTTcolumn" #j9 (click)="onClickColumn(99)">
            </div>
        </div>
    </div>
</div>
<div class="diszcsik"></div>
</div>