.TTTcolumn {
    border: 1px solid grey;
    background-color:white;
    padding:0;
    height: 40px;
    width:40px;
}

.cross {
    background:
    linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#ff9800 45%,#ff9800 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
    linear-gradient(135deg, white 0%,white 43%,#ff9800 45%,#ff9800 55%,white 57%,white 100%);
}

.dot {
    background: radial-gradient(ellipse at center,  #ff9800 0%,#ff9800 67%,#ff9800 67%,white 67%,white 67%)

}