.inside {
    background-color:white; 
    padding: 40px;
    width: fit-content;
    height:fit-content;

}

.middle {
    border: 7px solid white; 
    padding: 10px;
    width: fit-content;
}

.outside {
    border-radius:10px; 
    background-color:purple; 
    height:fit-content;
    width: fit-content;
    padding: 20px;
    margin:10px;}

.diszcsik {
    width:inherit;
    padding-top:26%;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
}